*{
  margin: 0;
  padding: 0;
}

.homepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.form{
  background: #2E2C59;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 15px;
}

.form img {
  height: 80px;
  margin-bottom: 30px;
}

.label{
  margin-bottom: 10px;
  margin-top: 0%;
}


.inputbox {
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 9px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: #eee;
}

.input{
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Joinbtn {
  background: #4aed88;
  margin-bottom: 15px;
}

.Joinbtn:hover {
  background: #2b824c;
  color: gold;
}

.createNewRoomBtn {
  background: indianred;
  color: antiquewhite;
}

.createNewRoomBtn:hover {
  background: crimson;
  color: gold;
}


footer {
  position: fixed;
  bottom: 3%;
}

footer a {
  color: #4aed88;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

footer a:hover{
  color: gold;

}

.main-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  /* height: 100vh; */
}

.left-wrapper {
  background: #1c1e29;
  padding: 16px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.aside-inner {
  flex: 1;
}

.clientList {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-radius: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leave-btn {
  margin-top: 20px;
  background: rgb(181, 79, 79);
  color: white;
  font-weight: bold;
}

.leave-btn:hover {
  background: red;
}

.copy-btn {
  background: #2b824c;
  color: white;
  font-weight: bold;
}

.copy-btn:hover {
  background: #4aed88;

}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}